.active {
    color: brown;
}



.my-container{

border: 1px solid grey; 

}

.my-row2 {
    border: 3px solid purple; 
}

.my-col3 {
    border: 2px solid yellow; 
}
.my-row {
    display: block; 
    margin: auto;
    align-content: center;
    
}

.jumbotron.main{
    background: white;
    padding-right: 0rem;
    padding-left: 0rem ;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem; 
    background-size: cover;
    background-size: 100% 100%
}

.jumbotron {
    padding-right: 0rem;
    padding-left: 0rem ;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem; 
    background-size: cover;
    background-size: 100% 100%; 
    background-color: white;
}

.jumbotron.widget{
    padding-right: 0rem;
    padding-left: 0rem ;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem; 
    background-size: cover;
    background-size: 100% 100%; 
    background-image: linear-gradient(to right top, #ffffff, #e5e8ed, #c7d3db, #a7bfc5, #8aabab);
}

.jumbotron.widget2{
    padding-right: 0rem;
    padding-left: 0rem ;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem; 
    background-size: cover;
    background-size: 100% 100%; 
    background-image: linear-gradient(to right top, #671070, #414e9a, #2173a8, #4e92a8, #8aabab);
}

.jumbotron.widget3{
    padding-right: 0rem;
    padding-left: 0rem ;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem; 
    background-size: cover;
    background-size: 100% 100%; 
    background-image: linear-gradient(to right top, #050d09, #1e3a33, #2a6c65, #2aa2a2, #12daeb);
}

.jumbotron.banniere {
    padding:0.5rem; 
    background-image: url("/cieletoile.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    }

.jumbotron.nav {
    margin-left: 1rem ;
    padding-left: 2rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background: rgb(55,55,55);
    color: white;
    
   /* background-image: linear-gradient(to right top, #e3b52a, #b6cb49, #87da79, #52e5ad, #12ebdf);
    background-repeat: repeat;
    background-size: cover;
    background-size: 100% 100%*/
}



body{
    margin: 20px;
}

.my-row .my-col2 {
 padding-right:0;
 padding-left: 0;
}

#center {
    text-align: center;
}

.widthComponent {
    width: fit-content;
    /*margin-left: auto;
    margin-right: auto; */
}

.sizeBar {
    font-size: 1.3rem ;
    text-decoration: none;
    color: white;
    
}

.paddingBar {
    padding-top: 1.7rem;
    display: block;
    background: rgb(55,55,55);
    
}

.passwordLogin {
    padding-bottom: 1.5rem;
}

.login, .form_login {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


.dashBoard {
    padding-top: 4.3rem;
    text-align: center;
}

.add{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.nom_objet{
    padding-top: 4.3rem;
    text-align: center;
}

.footer{
    background: rgb(55,55,55);
    color: white;
    font-size: small;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}