.active {
    color: brown;
}


.banniere{
    background-image: url("/cieletoile.jpg");
    background-repeat: no-repeat;
}

.toast{
    background: red; 
}

.my-container{

border: 1px solid green; 

}

.my-row {
    border: 3px solid red; 
}


.my-row2 {
    border: 5px solid purple; 
}

.my-row3 {
    border: 5px solid yellow; 
}

.my-row4 {
    border: 5px solid coral; 
    
}


.my-col {
    border: 2px solid grey; 
}

body{
    margin: 20px;
}

.my-row .my-col2 {
 padding-right:0;
 padding-left: 0;
}

#center {
    text-align: center;
}



.widthComponent {
    width: fit-content;
    /*margin-left: auto;
    margin-right: auto; */
}

.sizeBar {
    font-size: 1.3rem ;
}

.paddingBar {
    padding-top: 1.7rem;
}

.passwordLogin {
    padding-bottom: 1.5rem;
}

.login {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.dashBoard {
    padding-top: 4.3rem;
    text-align: center;
}
